
body {
    height: 100vh;
    background: radial-gradient(#0077ff,#1f1013);
}


ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    transition: 0.2s;
}

ul li {
    transition: 0.2s;
    cursor: pointer;
   
}

.close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 8px 16px 12px 16px;
    cursor: pointer;
}

.close:hover {
    background-color: red;
    color: white;
}

.input-group-append {
    position: relative;
    left: 10px;

}

#submit {
    color: white;
    background-color: rgba(12, 186, 12, 0.792);
}

#reset {
    background-color: rgb(185, 0, 0);
    color: white;
}

#submit:hover {
    background-color: rgb(4, 227, 0);
}

#reset:hover {
    background-color: rgb(255, 0, 0);
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 16px;
    left: 7px;
    transform: rotate(45deg);
    height: 7px;
    width: 3px;
}



